## Exercise 2

1. Прочитайте файл 2017_jun_final.csv с помощью метода read_csv
2. Прочитайте полученную таблицу используя метод head
3. Определите размер таблицы с помощью метода shape
4. Определите типы всех столбцов с помощью dataframe.dtypes
5. Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)
6. Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"
7. Опять посчитайте, какая доля пропусков содержится в каждой колонке и убедитесь, что остался только столбец "Язык.программирования"
8. Удалите все строки в исходной таблице с помощью метода dropna
9. Определите новый размер таблицы с помощью метода shape
10. Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python
11. Определите размер таблицы python_data с помощью метода shape
12. Используя метод groupby выполните группировку по столбцу "Должность"
13. Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"
14. Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"
15. Создайте описательную статистику с помощью метода describe для нового столбца.
16. Сохраните полученную таблицу в CSV файл

In [1]:
import pandas as pd

In [2]:
import numpy as np

## 1. Прочитайте файл 2017_jun_final.csv с помощью метода read_csv

In [3]:
data = pd.read_csv('2017_jun_final.csv')

## 2. Прочитайте полученную таблицу используя метод head

In [4]:
data.head(4)

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV

## 3. Определите размер таблицы с помощью метода shape

In [5]:
data_shape = data.shape

## 4. Определите типы всех столбцов с помощью dataframe.dtypes

In [6]:
data.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

## 5. Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)

In [7]:
column_names = [x for x in data]

In [8]:
for name in column_names:
    print(sum(pd.isnull(data[name]))/data_shape[0]*100,"%",name)

0.0 % N
0.0 % Должность
44.232536764705884 % Язык.программирования
82.93887867647058 % Специализация
0.0 % Общий.опыт.работы
0.0 % Опыт.работы.на.текущем.месте
0.0 % Зарплата.в.месяц
0.0 % Изменение.зарплаты.за.12.месяцев
0.0 % Город
0.0 % Размер.компании
0.0 % Тип.компании
0.0 % Пол
0.0 % Возраст
0.0 % Образование
4.1130514705882355 % Университет
0.0 % Еще.студент
0.0 % Уровень.английского
2.5620404411764706 % Предметная.область
0.0 % Дата.заполнения
0.0 % User.Agent
0.0 % exp
0.0 % current_job_exp
0.0 % salary
99.88511029411765 % Валюта
18.083639705882355 % cls

## 6. Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"

In [18]:
# We can apply dropna only to columns after "Язык.программирования", since before it there is no NaN
columns_no_nan = column_names[:3]

['N', 'Должность', 'Язык.программирования']

In [23]:
columns_to_nan=column_names[3:]
columns_to_nan

['Специализация',
 'Общий.опыт.работы',
 'Опыт.работы.на.текущем.месте',
 'Зарплата.в.месяц',
 'Изменение.зарплаты.за.12.месяцев',
 'Город',
 'Размер.компании',
 'Тип.компании',
 'Пол',
 'Возраст',
 'Образование',
 'Университет',
 'Еще.студент',
 'Уровень.английского',
 'Предметная.область',
 'Дата.заполнения',
 'User.Agent',
 'exp',
 'current_job_exp',
 'salary',
 'Валюта',
 'cls']

In [38]:
data_no_nan = data.loc[:,columns_no_nan]

In [42]:
data_nan = data.loc[:,columns_to_nan].dropna(axis=1)

In [45]:
norm_data = pd.concat([data_no_nan,data_nan], axis=1,)
norm_data.head(3)

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
0,1,Junior QA engineer,NaN,0.5,0.5,400,0,Харьков,до 10 человек,Аутсорсинговая,женский,20,Незаконченное высшее,True,ниже среднего,12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400
1,2,Junior QA engineer,NaN,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,Аутсорсинговая,женский,21,Незаконченное высшее,True,выше среднего,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430
2,3,Software Engineer,C#/.NET,4,1,2500,800,Киев,до 1000 человек,Аутсорсинговая,мужской,26,Высшее,False,средний,12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500

## 7. Опять посчитайте, какая доля пропусков содержится в каждой колонке и убедитесь, что остался только столбец "Язык.программирования"

In [48]:
n_column_names = [x for x in norm_data]

In [49]:
for name in n_column_names:
    print(sum(pd.isnull(norm_data[name]))/data_shape[0]*100,"%",name)

0.0 % N
0.0 % Должность
44.232536764705884 % Язык.программирования
0.0 % Общий.опыт.работы
0.0 % Опыт.работы.на.текущем.месте
0.0 % Зарплата.в.месяц
0.0 % Изменение.зарплаты.за.12.месяцев
0.0 % Город
0.0 % Размер.компании
0.0 % Тип.компании
0.0 % Пол
0.0 % Возраст
0.0 % Образование
0.0 % Еще.студент
0.0 % Уровень.английского
0.0 % Дата.заполнения
0.0 % User.Agent
0.0 % exp
0.0 % current_job_exp
0.0 % salary

## 8. Удалите все строки в исходной таблице с помощью метода dropna

In [53]:
dropna_data = data.dropna()

## 9. Определите новый размер таблицы с помощью метода shape

In [54]:
dropna_data.shape

(0, 25)

## 10. Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python

In [61]:
python_data = data[data["Язык.программирования"]== "Python"]
python_data.head(3)

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
12,13,Software Engineer,Python,NaN,1,меньше 3 месяцев,800,200,Киев,до 50 человек,...,False,ниже среднего,"Веб-разработка,Другое",12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800,NaN,DEV
68,69,Software Engineer,Python,NaN,1.5,0.5,900,900,Киев,до 10 человек,...,True,выше среднего,Веб-разработка,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900,NaN,DEV
87,88,Junior Software Engineer,Python,NaN,0.5,0.5,600,0,Киев,до 10 человек,...,True,выше среднего,"Веб-разработка,eCommerce",12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600,NaN,DEV

## 11. Определите размер таблицы python_data с помощью метода shape

In [62]:
python_data.shape

(207, 25)

## 12. Используя метод groupby выполните группировку по столбцу "Должность"

In [63]:
g_python_data = python_data.groupby("Должность")
g_python_data

## 13. Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"

In [84]:
data_stat = g_python_data.agg({"Зарплата.в.месяц" : ['min','max']})
data_stat

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

## 14. Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"

In [120]:
def fill_avg_salary(dataframe):
    dataframe['avg'] = dataframe.mean(axis=1)
    return dataframe

In [127]:
data_stat2= fill_avg_salary(data_stat)
data_stat2

                         Зарплата.в.месяц           avg
                                      min   max
Должность
Junior Software Engineer              100  1250   675.0
Senior Software Engineer             1300  9200  5250.0
Software Engineer                     500  5400  2950.0
System Architect                     3000  5000  4000.0
Technical Lead                       1425  6200  3812.5

## 15. Создайте описательную статистику с помощью метода describe для нового столбца.

In [128]:
data_stat2['avg'].describe()

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: avg, dtype: float64

## 16. Сохраните полученную таблицу в CSV файл

In [130]:
data_stat2.to_csv('It_sallary_stats.csv')